@import 'vendor/reset.scss';
@import "vars";
@import 'mixins';
@import 'vendor/slick-theme.scss';
@import 'vendor/slick.scss';


@font-face {
    font-family: "Graphik LC Web";
    src: url('../fonts/Graphik-Regular.woff2'),
         url('../fonts/Graphik-Regular.woff');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Graphik LC Web";
    src: url('../fonts/Graphik-Black.woff2'),
         url('../fonts/Graphik-Black.woff');
    font-weight: 800;
    font-display: swap;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: $white;
    font-family: "Graphik LC Web", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: $black;
    line-height: 1.2;
}




// Blocks

@import 'blocks/page';
@import 'blocks/container';
@import 'blocks/slider';
@import 'blocks/description';
@import 'blocks/btn';
@import 'blocks/application';
@import 'blocks/benefits';
@import 'blocks/clients';