.benefits{
    margin-bottom: 20.5rem;
    position: relative;


    &__inner{
        position: relative;
    }


    &__text-list{
        width: 100%;
        display: flex;
        padding: 0 3.2rem 0 5rem;
        position: absolute;
        bottom: 32%;
        z-index: 1000;
        transform: translateY(32%);


        @include breakpoint($desktop){
            position: static;
            flex-direction: column;
            padding-top: 15rem;
            transform: translateY(0);
        }
    }


    &__img{
        img{
            @include breakpoint($desktop){
                display: none;
            }
        }
    }

    &__text{
        margin-right: 11rem;
        line-height: 1.2;
        max-width: 32rem;
        font-weight: 800;
        font-size: 2.4rem;
        z-index: 1000;
        &:last-child{
            margin-right: 0;
            @include breakpoint($desktop){
                margin: 0 auto;
            }
        }

        @include breakpoint($desktop){
            max-width: 50rem;
            color: $black;
            margin: 0 auto;
            margin-bottom: 6rem;
        }

        &--white{
            color: $white;
            @include breakpoint($desktop){
                color: $black;
            }
        }
        &--inner{
            position: absolute;

        }

    }


}