.page {
    padding: 7.4rem 0 11.8rem;
    overflow: hidden;


    &__subtitle {
        margin-bottom: 5.2rem;
        font-size: 3.6rem;



        &--benefits {
            margin-bottom: 0;
            position: absolute;
            left: 47%;
            top: 15rem;
            z-index: 1000;
            transform: translateX(-47%);


            @include breakpoint($desktop){
                top: 0;
                left: 14rem;
            }
        }
    }

    &__title {
        margin-bottom: 3.7rem;
        font-size: 6.4rem;
        font-weight: 800;

        @include breakpoint($tablet-bp) {
            font-size: 4.5rem;
            margin-bottom: 2.5rem;
        }
        @include breakpoint($mobile-xsm) {
            font-size: 3.8rem;
        }

        &--white {
            color: $white;
        }

        &--mb10r {
            margin-bottom: 10rem;
        }

        &--mb26 {
            margin-bottom: 2.6rem;
        }

        & br {
            @include breakpoint($tablet-bp) {
                display: none;
            }
        }


    }
}